
.body {
 display: flex;
    /* width: 100%; */
  justify-content: center;
}

/* @media (min-width: 640px) {
    .banner {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .banner {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 1280px) {
    .banner {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  @media (min-width: 1536px) {
    .banner {
      grid-template-columns: repeat(6, 1fr);
    }
  } */
